<header>
    <nav>
        <h1 role="heading"><a href="/">Restaurant Reviews</a></h1>
    </nav>
</header>

<main id="maincontent" role="main">
    <section id="map-container" tabIndex="-1" role="application" aria-label="google maps">
        <div id="map"></div>
    </section>
    <section>
        <div class="filter-options">
            <h2 tabindex="0" role="heading" class="filter-results">Filter Results</h2>
            <select id="neighborhoods-select" aria-label="dropdown menu" name="neighborhoods" onchange="updateRestaurants()">
          <option value="all">All Neighborhoods</option>
        </select>
            <select id="cuisines-select" aria-label="dropdown menu" name="cuisines" onchange="updateRestaurants()">
          <option value="all">All Cuisines</option>
        </select>
        </div>
        <ul id="restaurants-list" class="restaurants-container"></ul>
    </section>
</main>

<script src="/js/utilities/idb_lib.js"></script>
<script src="/js/manual/dbhelper.js"></script>
<script src="/js/manual/main.js"></script>